/***********************************/
/* Custom Properties */
:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --light-grey: #dedede;

  /* Fonts */
  --font-body: 'Poppins', sans-serif;
}

/***********************************/
/* Basic Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--dark-blue);
  font-size: 1.6rem;
  font-family: var(--font-body);
  font-weight: 500;
  line-height: 2.6rem;
  background-image: url('./../images/bg-intro-mobile.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: var(--red);
}

img {
  width: 100%;
  display: inline-block;
}

/***********************************/
/* Typography */

/* Headings */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
}

.h1 {
  font-size: 2.8rem;
  line-height: 3.6rem;
}

/***********************************/
/* Main Layout */
.hero {
  padding-top: 8.8rem;
  padding-bottom: 6.8rem;
}

.hero-content {
  display: grid;
  grid-gap: 6.4rem;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  margin-bottom: 1.6rem;
}

.container {
  width: 100%;
  max-width: 115.8rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-text {
  text-align: center;
}

.terms {
  font-size: 1.1rem;
  color: var(--grayish-blue);
  line-height: 2.1rem;
}

/***********************************/
/* Components */

/* Price */
.price {
  color: var(--white);
  background-color: var(--blue);
  font-weight: 400;
  padding: 2.4rem 4rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.8rem 0 rgba(0, 0, 0, 0.15);
}

.price-highlight {
  font-weight: 700;
}

/* Card */
.card {
  background-color: var(--white);
  padding: 2.4rem;
  border-radius: 1rem;
  box-shadow: 0 0.8rem 0 rgba(0, 0, 0, 0.15);
}

/* Form */
.form-group {
  margin-bottom: 1.6rem;
}

.form-success-msg {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 0.8rem;
}

.form-group::after {
  content: attr(data-error);
  display: none;
  font-size: 1.1rem;
  font-style: italic;
  color: var(--red);
  text-align: right;
  width: 100%;
}

.input-group {
  position: relative;
}

.input-group::after {
  content: '';
  display: none;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.4rem;
  background-image: url('./../images/icon-error.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.input {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  color: var(--dark-blue);
  padding: 1.6rem 2rem;
  padding-right: 5.6rem;
  border: 1px solid var(--light-grey);
  width: 100%;
}

.input:focus {
  border-color: var(--blue);
  outline: none;
}

input::placeholder {
  color: var(--dark-blue);
  opacity: 0.75;
}

/* This style are auto applied when form group as 'data-error' attr */
.form-group[data-error]::after {
  display: inline-block;
}

.form-group[data-error] .input-group::after {
  display: inline-block;
}

.form-group[data-error] input {
  border: 1px solid var(--red);
  box-shadow: 0 0 0 2px var(--red);
}

/* Buttons */
.btn {
  padding: 2rem;
  font-size: 1.5rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  box-shadow: inset 0 -0.4rem 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-success {
  background-color: var(--green);
  color: var(--white);
  transition: all 0.3s ease;
}

.btn-success:hover {
  background-color: #77e2b3;
}

/***********************************/
/* Util Classes */
.d-none {
  display: none;
}

.text-white {
  color: #fff;
}

.text-red {
  color: var(--red);
}

.text-center {
  text-align: center;
}

.fw-700 {
  font-weight: 700;
}

.mb-md {
  margin-bottom: 2.4rem;
}

.mb-sm {
  margin-bottom: 0.8rem;
}

.w-100 {
  width: 100%;
}

/**************************************/
/* Responsive styling */
/**************************************/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .input-group::after {
    right: 2.8rem;
  }

  .input {
    padding-right: 7rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  .hero-content {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .hero-text {
    text-align: left;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
